trigger:
- main

pool:
  name: Azure Pipelines
  vmImage: 'vs2017-win2016'

steps:
- task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV1@0
  displayName: 'Terraform : INIT'
  inputs:
    backendServiceArm: 'jonwterraformsp-ARM'
    backendAzureRmResourceGroupName: 'RG-Terraform'
    backendAzureRmStorageAccountName: jonwterraformstorage
    backendAzureRmContainerName: terraformstate
    backendAzureRmKey: 'UcxyiThFntiiF/cqXUruyrNiOApgsNjq2dTaEHk2cghtWot5TceJRoDiIEgzNJuzJYAbK6nO/3n14IJVOaH62Q=='

- task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV1@0
  displayName: 'Terraform : PLAN'
  inputs:
    command: plan
    environmentServiceNameAzureRM: 'jonwterraformsp-ARM'

- task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV1@0
  displayName: 'Terraform : VAL & APPLY'
  inputs:
    command: apply
    environmentServiceNameAzureRM: 'jonwterraformsp-ARM'
